<div class="container">
        <div class="center wow fadeInDown animated">
            <h2>Layanan Kampus</h2>
            <p class="lead">Layanan kampus yang kami sediakan untuk mahasiswa dan dosen</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated">
                    <div class="pull-left">
                        <img class="img-responsive" src="{{ 'services4.png' | media }}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Perpustakaan</h3>
                        <p>Perpustakaan yang berisi buku buku untuk menunjang proses belajar </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated">
                    <div class="pull-left">
                        <img class="img-responsive" src="{{ 'services5.png' | media }}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">E-Learning</h3>
                        <p>Materi atau module yang tersedia dapat diakses secara online </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated">
                    <div class="pull-left">
                        <img class="img-responsive" src="{{ 'services1.png' | media}}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Siakad Online</h3>
                        <p>Proses KRS dan akses nilai IPK dapat dilakukan secara online oleh Mahasiswa</p>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>